.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  gap: 20px;

  width: 320px;
  height: 100vh; /* Adjusted to make sidebar fit the screen height */

  background: black;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profileIcon {
  width: 80px; /* Adjust size as needed */
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;
}

.profileName {
  color: white;
  font-size: 1.2rem;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  /* Component */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 12px;

  background: #000000;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 10;
  flex-grow: 0;
}

.navLink {
  text-decoration: none;
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      height: auto;
  }

  .navItem {
      margin-bottom: 10px;
  }

  .navLink {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .navLink {
      font-size: 0.9rem;
  }

  img {
      width: 30px;
  }

  .profileIcon {
      width: 60px; /* Adjust size for smaller screens */
      height: 60px;
  }
}
